<h4>Навигация</h4>
    <ul class="list-unstyled">


        {% if user %}
            <li><a href="{% url 'home' %}" class="text-dark">Выбор букетов</a></li>
            <li><a href="{% url 'cabinet' %}" class="text-dark">Мои заказы</a></li>
            <li><a href="{% url 'logout' %}" class="text-dark">Выйти</a></li>
        {% else %}
            <li><a href="{% url 'home' %}" class="text-dark">Выбор букетов</a></li>
            <li><a href="{% url 'register' %}" class="text-dark">Регистрация</a></li>
            <li><a href="{% url 'login' %}" class="text-dark">Войти в аккаунт</a></li>
        {% endif %}


    </ul>