{% extends 'shop/layout.html' %}
{% load static %}

{% block title %}
    <title>ваш новый заказ</title>
{% endblock %}

{% block content %}

    <p>{{ username }} ваш новый заказ</p>

<form method="post" >
                {% csrf_token %}

                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'shop/img/1193.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ order.goods }}</h5>
                            {{ form.as_p }}
                            <button type="submit">Подтвердить</button>
                        </div>
                    </div>
</form>





<form action="{% url 'del_new_order' %}" method="post">
        {% csrf_token %}
        <button type="submit">Отменить</button>
</form>





{% endblock %}